<% include ../partials/head.ejs %>




        <% include ../partials/header.ejs %>

        <section class="col-md-12">

                <table class="table text-center col-md-12 border">
                    <thead>
                        <tr class="text-uppercase bg-info text-white mb-5">
                            <th class="p-3" scope="col">username</th>
                            <th class="p-3" scope="col">password</th>
                        </tr>
                    </thead>
                    <tbody class="bg-light">
                        <% for (var i=0; i < users.length; i++){ %>
                            <tr>
                                <td class="p-3">
                                    
                                        <%= users[i].username%>
                                   
                                </td>
                                <td class="p-3">
                                    <%= users[i].password %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </section>  

            <% include ../partials/footer.ejs %>